*{
   margin: 0;
   padding: 0;
   box-sizing:border-box; 
}

body{
    background-color:#9ac76d;
    text-align: center;
    line-height:2.1;
}
.hero img{
    border-radius: 50%;
}
.accent{
    color:olive;
}

@media screen (max-width:768px){
    body{background-color: green}
}

.grid{
    display:flex;
    justify-content: center;
   /* justify-content: space-around; */
   gap: 15px 
   flex-wrap: wrap; 
}


.grid div{
    background-color: #7ea367;
    border-radius: 100px;
    padding: 10px;
    min-width: 80px;

    
}
body{
    box-shadow: 20px 20px 130px 110px #7fa658
}

p{
    padding: 30px 150px 20px 150px 
}

